@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "IBM Plex Serif", serif;
    background-color: rgb(220, 220, 220);
    display: flex;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    display: flex;
}

/* NAVBAR */
.navbar{
    height: 300px;
    width: 60px;
    background-color: rgb(43, 56, 86);
    position: sticky;
    top: 10px;
    margin-right: 25px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    text-decoration: none;
    color: rgb(204, 178, 29);
}

.link:hover {
    border-bottom: 4px solid rgb(204, 178, 29);
}

/* PROFILE */
.content {
    max-width: 800px;
}

.card {
    background-color: white;
    display: flex;
    padding: 20px 50px ;
    border-radius: 10px;
    margin-top: 2px;
}

.section {
    width: 50%;
    padding: 5px 25px 25px 25px;
}

/* CARD 1 - LEFT */
.status {
    border: 1px solid rgb(217, 214, 214);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 20px 0;
    max-width: 165px;
}

.status_text {
    margin: 0;
}

#point {
    height: 10px;
    width: 10px;
    background-color: rgb(41, 182, 41);
    border-radius: 25px;
    margin: 9px;
}

.photo {
    border-radius: 10px;
    width: 42%;
}

/* CARD 2 - RIGHT */
.text {
    font-size: 24px;
    text-align: justify;
}

.borderBtn {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(217, 214, 214);
}

.btn1 {
    font-family: "IBM Plex Serif", serif;
    background-color: rgb(43, 56, 86);
    border: 1px solid rgb(43, 56, 86);
    color: #fff;
    padding: 20px;
    border-radius: 30px;
}

.btn1:hover {
    background-color: #fff;
    color: black;
    cursor: pointer;
}

.btn2 {
    font-family: "IBM Plex Serif", serif;
    border: 1px solid rgb(43, 56, 86);
    padding: 20px;
    border-radius: 30px;
    background-color: #fff;
}

.btn2:hover {
    background-color: rgb(43, 56, 86);
    color: #fff;
    cursor: pointer;
}

.btns {
    margin-top: 55px;
}

/* HTML5, CSS3, JAVASCRIPT */
.progNames {
    height: 50px;
    width: 50px;
    border: 1px solid rgb(43, 56, 86);
    border-radius: 50%;
    padding: 20px;
}

.programs {
    display: flex;
    justify-content: space-around;
}

/* BACKGROUND */
.institutions:visited {
    color: black
}

/* WORK */
.cardsm {
    background-color: white;
    display: flex;
    padding: 0 50px ;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 2px;
    align-items: center;
    justify-content: space-between;
}

.cardmd {
    background-color: white;
    display: flex;
    border-radius: 10px;
    margin: 2px 0;
    height: 244px;
}

.work_img {
    width: 500px;
    height: 240px;
    border-radius: 10px;
    padding: 2px;
}

.work_img:hover {
    opacity: 0.8 ;
}

.work_name {
    font-size: 22px;
    margin: 50px 20px;
}

/* CONTACT */
.user_info {
    width: 328px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.user {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

textarea {
    width: 680px;
    resize: none; 
    padding: 10px 10px 130px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
  
input[type="submit"] {
    font-family: "IBM Plex Serif", serif;
    font-size: 18px;
    padding: 6px 30px;
    background-color: rgb(43, 56, 86);
    color: #fff;
    border-radius: 20px;
}

.send {
    display: flex;
    justify-content: flex-end;
}

/* FOOTER */
footer {
    text-align: right;
}





/* SERVICES */





/* MOBILE AND TABLET */
@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
    }
    .navbar {
        height: 60px;
        width: 100%;
        flex-direction: row;
        margin-bottom: 15px;
    }
    .card {
        flex-direction: column;
    }
    .section{ 
        width: 100%; 
    }

    .programs {
        flex-direction: row;
    }
}